BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
SpaceBeforeParens: Never
SpacesInParentheses: false
SpacesInSquareBrackets: false
PointerAlignment: Left
BinPackArguments: true
BinPackParameters: true
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
AlignAfterOpenBracket: BlockIndent
BreakBeforeBinaryOperators: None
BreakConstructorInitializers: BeforeComma
